
.icon-search:before { content: '\e800'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-resize-full-alt:before { content: '\e802'; } /* '' */
.icon-color-adjust:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */