@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot');
    src: url('../fonts/fontello/fontello.eot#iefix') format('embedded-opentype'),
        url('../fonts/fontello/fontello.woff') format('woff'),
        url('../fonts/fontello/fontello.ttf') format('truetype'),
        url('../fonts/fontello/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontello';
        src: url('../fonts/fontello/fontello.svg#fontello') format('svg');
    }
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-resize-full-alt:before { content: '\e802'; } /* '' */
.icon-color-adjust:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-info-circled:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-cancel-2:before { content: '\e80c'; } /* '' */
.icon-cancel-1:before { content: '\e819'; } /* '' */

.icon {
    &:before {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        text-align: center;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.isAbs {
        &:before {
            margin-left: 0;
        }
    }
}
