// --------------------------------------------------------------------------
//  Scrollbars
// --------------------------------------------------------------------------

$scrollbar-w: 10px;
%scrollbars {
    overflow: auto;

    &::-webkit-scrollbar {
        width: $scrollbar-w;
        height: $scrollbar-w;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        display: inline-block;
        width: $scrollbar-w;
        background-color: #F0F0F0;
        box-shadow: inset 0px 0px 2px rgba(68, 68, 68, 0.13);
    }


    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 1px solid #E8E8E8;
        border-radius: $scrollbar-w;
    }
}

%scrollbars-light {
    @extend %scrollbars;

    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        border-color: transparent;
    }
}
