<div class="pg-content"
 ng-style="{ 'background': currentBackground.code }">

    <!-- <pg-sidebar>
    </pg-sidebar>

    <pg-options>
    </pg-options>

    <pg-toasts>
    </pg-toasts> -->

    <pg-slider-detail
     selected-person="selectedPerson"
     balances="balances">
    </pg-slider-detail>

    <pg-color-picker
     colors="colors"
     backgrounds="backgrounds"
     current-background="currentBackground"
     select-color="selectColor"
     select-color-mouse-up="selectColorMouseUp">
    </pg-color-picker>

    <div class="quote">
        I am a riddle, or a quote.
    </div>

    <pg-greet
     selected-person="selectedPerson">
    </pg-greet>

    <pg-slider
     population="population"
     select-person="selectPerson"
     selected-person="selectedPerson">
    </pg-slider>

    <div class="drag-and-drop">

        <div class="test"
         droppable>
            DESK
        </div>

   <p class="item"
    id="item"
    draggable>
   </p>
        <div class="bin"
         droppable>
        </div>
    </div>


</div>
