<div class="pg-content"
 ng-style="{ 'backgroundColor': selectedColor.name }">

    <pg-sidebar>
    </pg-sidebar>

    <div class="toasts">
        <div class="toasts__toast is-error"
         ng-class="{ 'toasted' : touchedToast }"
         ng-click="touchedToast = true">
            <div class="toasts__toast__icon-wrap">
                <i class="icon icon-option-cancel"></i>
            </div>
            <div class="toasts__toast__copy">
                This is an error message from api. The data coould not be loaded
            </div>
        </div>
        <div class="toasts__toast is-info">
            <div class="toasts__toast__icon-wrap">
                <i class="icon icon-option-cancel"></i>
            </div>
            <div class="toasts__toast__copy">
                This is an info message. Use still to be found
            </div>
        </div>
    </div>

    <pg-slider-detail
     selected-person="selectedPerson"
     people-doc-length="peopleDocLength">
    </pg-slider-detail>

    <pg-color-picker
     colors="colors"
     select-color="selectColor">
    </pg-color-picker>

    <div class="greet">
        <h1 class="greet__title">
            Hi {{ selectedPerson.name.first || 'Vincent' }}
        </h1>

        <div>
            Today is a fierce mild
        </div>
        <div>
            20:45
        </div>
    </div>

    <pg-slider
     people-doc="peopleDoc"
     select-person="selectPerson"
     selected-person="selectedPerson">
    </pg-slider>
</div>
