$item-s: 20px;

.pg-color-picker {
    z-index: 1;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 20px;
    background-color: #fff;
    transform: translate(100%, -50%);
    transition: transform 0.3s ease;

    &.is-active {
        transform: translate(0, -50%);
    }

    &__list {

        &__item {
            margin-top: 1px;
            margin-right: 1px;
            float: left;
            width: $item-s;
            height: $item-s;
            background-color: #ddd;
            cursor: pointer;

            &:nth-child(-n + 4) {
                margin-top: 0;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(4n + 1) {
                clear: left;
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 100%;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.3);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        cursor: pointer;

        &:hover {
            background-color: #fff;

            .icon {
                color: $color;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 18px;
            color: #444;
            transform: translate(-50%, -50%);
        }
    }
}
