// --------------------------------------------------------------------------
// Greeting
// --------------------------------------------------------------------------

.greet {
    position: fixed;
    right: 40px;
    bottom: 40px;
    color: #fff;

    &__title {
        font-size: 40px;
    }
}
