// --------------------------------------------------------------------------
// Greeting
// --------------------------------------------------------------------------

.greet {
    position: fixed;
    right: 60px;
    bottom: 60px;
    font-size: 17px;
    color: #fff;

    &__title {
        font-size: 70px;
    }
}
