// --------------------------------------------------------------------------
// SliderDetail
// --------------------------------------------------------------------------

$img-s: 150px;
.slider-detail {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-42%);
    width: 470px;
    height: 460px;
    transition: opacity 0.2s ease,
                visibility 0.3s ease,
                transform 0.3s ease,
                top 0.3s ease;

    &.is-active {
        opacity: 1;
        visibility: visible;
        top: 50%;
        transform: translateY(-50%);
    }

    &.is-test {
        .slider-detail__wrap {
            @extend %scrollbars-transparent;
            padding: 0;
            border-right: 5px solid rgba(255,255,255,.3);
            background-color: transparent;
            box-shadow: inset -15px 0px 0px rgba(255,255,255,.3);
        }

        .test {
            background-color: #fff;
            padding: $spacing;
            padding-right: $spacing - 5px;
            margin-right: 5px;
        }
    }

    &__img-wrap {
        position: absolute;
        right: 100%;
        width: $img-s;
        height: $img-s;
        background-color: #e1e1e1;
        transform: translateX(100%);
        transition: transform 0.3s ease;

        .is-active & {
            transform: translateX(0);
        }

        &__img {
            border-top-left-radius: 2px;
        }

        &:hover {

            .slider-detail__img-wrap__overlay {
                opacity: 1;

                .slider-detail__img-wrap__overlay__icon {
                    width: 20px;
                    height: 20px;
                    border-color: #fff;
                    background-color: transparent;
                }
            }
        }

        &__overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: oapcity 0.2s ease;

            &__icon {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                border: 2px solid transparent;
                background-color: #fff;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.3s ease, height 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
            }
        }
    }

    &__nav {
        position: absolute;
        top: $img-s;
        right: 100%;
        padding: 10px 0;
        background-color: #444;
        border-right: 0 solid $color;
        border-bottom-left-radius: 2px;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        transition: border-width 0.1s ease-out, transform 0.4s ease;

        &:hover {
            transition-delay: 0s;
            border-width: 5px;
        }

        .is-active & {
            transform: translateX(0);
        }

        &__list {
            &__item {
                color: #fff;
                padding: 10px 15px;
                width: 150px;
                cursor: pointer;

                &:first-child {
                    border: none;
                }

                &:hover {
                    background-color: $color;
                }
            }
        }
    }

    &__wrap {
        @extend %scrollbars;
        position: relative;
        padding: $spacing;
        height: 100%;
        border-right: 5px solid #fff;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #fff;
    }

        &__section {
            margin-top: $spacing;
        }

        &__header {
            margin-bottom: $spacing;
            line-height: 1;
            font-size: 18px;

            &__states {
                float: right;
            }

                &__state {
                    float: left;

                    &.is-active {
                        .icon {
                            color: $color;
                        }
                    }

                    &__icon {
                        margin-left: 10px;
                        font-size: 16px;
                        color: #444;
                        cursor: pointer;

                        &:hover {
                            color: $color;
                        }

                        &--is-docked {
                            color: $color;
                        }
                    }
                }

        }

        &__categories {
            padding-bottom: $spacing;
            border-bottom: 1px solid #E8E8E8;

            &__item {
                position: relative;
                float: left;
                padding-top: calc(100% / 7);
                width: calc(100% / 7);
                border-top:1px solid #fff;
                border-right:1px solid #fff;
                background-color: #eee;
                box-shadow: inset 0 0 0 1px #ddd;
                cursor: pointer;

                &:nth-child(-n + 7) {
                    border-top: 0;
                }

                &:nth-child(7n) {
                    border-right: 0;
                }

                &:hover {
                    background-color: #ddd;
                }
            }
        }

        &__stats {
            margin-top: $spacing;
            margin-right: -$spacing;
            margin-left: -$spacing;

            &__item {
                width: 50%;
                float: left;
                padding: 0 $spacing 10px $spacing;
                line-height: 1;

                &:nth-child(2n) {
                    border: none;
                    border-left: 1px solid #eee;
                }

                &:nth-last-of-type(1),
                &:nth-last-of-type(2) {
                    padding-bottom: 0;
                }

                &__value {
                    display: inline-block;
                    margin-left: 5px;
                    color: #aaa;
                }
            }
        }

        &__placeholder {
            margin-top: $spacing;
            background-color: #eee;
            height: 200px;
        }
}

.is-active.docked,
.is-active.fullScreen {
    transform: none;

    .slider-detail__nav {
        transition: transform 0.3s ease;
        transition-delay: 0s;
    }

    .slider-detail__img-wrap,
    .slider-detail__nav {
        transform: translateX(100%);
    }
}

.slider-detail {
    &.docked {
        left: $spacing;
        top: $spacing;
        bottom: $spacing;
        height: calc(100% - #{ $spacing } * 2);
    }

    &.fullScreen {
        @extend .docked;
        right: $spacing;
        width: calc(100% - (#{ $spacing } * 2));
    }
}
