$item-h: 40px;
$item-spacing: 20px;
$color: #12C3E4;
.pgSidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: $slider-h;
    left: 0;
    width: 200px;
    background-color: #fff;
    color: #444;
    transform: translateX(calc(-100% + #{$item-spacing}));
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(0);
    }

    &__list {
        padding: 10px 0;

        &__item {
            display: block;
            position: relative;
            padding: 0 $item-spacing;
            line-height: $item-h;
            cursor: pointer;

            &:hover {
                color: $color;

                .pgSidebar__sublist {
                    opacity: 1;
                    visibility: visible;
                    color: #fff;
                    border-width: 5px;
                }
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__sublist {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 100%;
        padding: $item-spacing 0;
        border-left: 0 solid #fff;
        background-color: #444;
        cursor: default;
        transform: translateY(-$item-spacing);
        transition: border-width 0.3s ease-out;

        &__item {
            display: block;
            padding: 0 $item-spacing;
            cursor: pointer;

            &:hover {
                background-color: $color;
            }
        }
    }
}
